<div class="container">
  <div class="header">
    <div class="left-content">
      <p class="header-text">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <p class="header-text-large">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
      <p class="header-text">ISSN: 1234-5678</p>
    </div>
    <div class="right-content">
      <div class="language-box">
        <img src="../../../assets/globo.png" alt="Ícone do Globo">
        <span class="language">PT, BR</span>
        <span class="arrow-down">▼</span>
      </div>
      <div class="text-content">
        <p class="welcome-text">Bem Vindo!</p>
        <p class="email-text">alguem12@galoascience.com</p>
      </div>
      <div class="notification-badge">2</div>
      <img src="../../../assets/photoUser.png" alt="Foto de Perfil" class="user-avatar">
    </div>
  </div>
</div>
  