<div class="details-component">
  <div class="container">
    <div class="header">
      <div class="title boldStrong">Detalhes</div>
    </div>
    <div class="content">
      <div class="description">
        <p>Tipo de Apresentação: <strong class="boldStrong">Pôster</strong></p>
        <p>Eixo temático: <strong class="boldStrong">Alimentação e saúde (AS)</strong></p>
        <p>Palavras-chaves: <strong class="boldStrong">Alimentos <br> funcionais, alimentação escolar.</strong></p>
      </div>
      <div class="authors">
        <p> <strong class="boldStrong">Autores:</strong></p>
        <p>Galileo Galilei¹</p>
        <p>Berta Lange de Morretes²</p>
        <p>Isaac Newton³</p>
        <p>Cesar Lattes¹</p>
        <p>Stephen Hawking⁴</p>
      </div>
      <div class="subDescriptions">
        <p>¹Universidade Estadual de Campinas</p>
        <p>²Universidade de São Paulo</p>
        <p>³Instituto Nacional de Pesquisas Espaciais</p>
        <p>⁴Universidade Federal do Rio de Janeiro</p>
      </div>
    </div>
    <div class="scroll-bar">
      <div class="scroll-thumb"></div>
    </div>
  </div>
</div>
  
