$gradiente-linear-right: linear-gradient(to right, #FFB354, #EE7A3A);
$gradiente-linear-vertical: linear-gradient(to bottom, #FFB354, #EE7A3A);

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background: #FFFFFF;
  color: #FFB354;
  font-family: 'Roboto', sans-serif;

  box-shadow: 6px 1px 19px -18px rgba(0,0,0,0.61);

  .rectangle {
    width: 100%;
    height: 68px;
    background: $gradiente-linear-vertical;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .slaca-title {
      font-size: 30px;
      color: #FFFFFF;
      font-weight: 700;
    }
  }

  .logo {
    max-height: 220px;
    display: block;
    margin: 0 auto;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;

    .menu-item {
      padding: 10px 0;
      text-align: start;
      border-bottom: 2px solid #E7E7E7;

      &.highlighted {
        background: #FDF1EB;
        border-left: 5px solid #E7E7E7;
        color: #FFFFFF;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -5px;
          height: 100%;
          width: 5px;
          background: $gradiente-linear-vertical; // Usando a variável aqui
        }
      }

      a {
        text-decoration: none;
        color: #725C5C;
        margin-left: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
