<div class="sidebar">
  <div class="rectangle">
    <p class="slaca-title">SLACA 2019</p>
  </div>
  <img src="../../../assets/dewey 4.png" alt="Logo" class="logo">
  <ul class="menu">
    <li class="menu-item"><a href="#">Apresentação</a></li>
    <li class="menu-item"><a href="#">Comitês</a></li>
    <li class="menu-item"><a href="#">Autores</a></li>
    <li class="menu-item"><a href="#">Eixos temáticos</a></li>
    <li class="menu-item highlighted"><a href="#">Trabalhos</a></li>
    <li class="menu-item"><a href="#">Contato</a></li>
  </ul>
</div>
  