<div class="container">
    <div class="container-post" *ngIf="!mostrarFormulario">
        <div class="header-post">
            Discussões
        </div>
        <div class="infos-post">
            <p>Compartilhe suas ideias ou dúvidas com os autores!</p>
            <div class="icons-post">
                <img src="../../../assets/icone1.png" alt="">
                <img src="../../../assets/icone2.png" alt="">
                <img src="../../../assets/icone3.png" alt="">
            </div>
            <p class="description-post">
                Sabia que o maior estimulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
            </p>
            <p class="description-post">
                questionamentos ou sugestões para o autor!
            </p>
        </div>
        <div class="linha">
            <button (click)="toggleForm()" class=".btn-create-topic"><img src="../../../assets/icon - criar.png" alt=""> criar tópico</button>
        </div>
    </div>
    <form *ngIf="mostrarFormulario">
        <h2>Seu formulário para criar tópico aqui</h2>
    </form>
    
        <div class="container-card">
            <div class="card-header">
                <h3>Assunto da pergunta aparece aqui</h3>
                <p>Carlos Henrique Santos</p>
            </div>
            <div class="card-body">
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
            </div>
            <div class="card-footer">
                <img src="../../../assets/mais informações.png" alt="mais opções" class="maisOpcoes">
                <img src="../../../assets/favoritar.png" alt="favoritar" class="favoritar">
                <div class="interativos">1 like</div>
                <div class="interativos">1 resposta</div>
            </div>
        </div>

        <div class="container-card">
            <div class="card-header">
                <h3>Assunto da pergunta aparece aqui</h3>
                <p>Carlos Henrique Santos</p>
            </div>
            <div class="card-body">
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
            </div>
            <div class="card-footer">
                <img src="../../../assets/mais informações.png" alt="mais opções" class="maisOpcoes">
                <img src="../../../assets/favoritar.png" alt="favoritar" class="favoritar">
                <div class="interativos">1 like</div>
                <div class="interativos">1 resposta</div>
            </div>
        </div>
</div>
